<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<mat-toolbar color="primary">
  <span>
    <img src="http://pngimg.com/uploads/bmw_logo/bmw_logo_PNG19712.png" class="bmw-logo">
    BMW Survey 
  </span>
  <span class="fill-remaining-space"></span>
  <ul class="nav nav-tabs">
    <li 
      role="presentation"  
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Statistics</a>
    </li>
  </ul>
</mat-toolbar>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1">
    <router-outlet>
    </router-outlet>
  </div>
</div>
</div>