<div class="row">
  <h2>
    Statistics
  </h2>
  <div class="statistic-container">
    <h3>Underaged Drivers Statistics</h3>
    <p>{{underagedDrivers}}</p>
  </div>
  <div class="statistic-container">
    <h3>Unlicensed Drivers Statistics</h3>
    <p>{{unlicensedDrivers}}</p>
  </div>
  <div class="statistic-container">
    <h3>Targetable Drivers Statistics</h3>
    <p>{{targetableDrivers}}</p>
  </div>
  <div class="statistic-container">
    <h3>Targetable and Drifting Statistics</h3>
    <p>{{targetableDriftingDrivers}}</p>
  </div>
  <div class="statistic-container">
    <h3>DriveTrain FWD or IDK selected Statistics</h3>
    <p>{{drivetrainFwdIdkDrivers}}</p>
  </div>
</div>